.button-icon{
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #212121;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}


.move {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #212121;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    visibility: visible;
    margin-right: 400px;
}
